body {
    padding: 0;
    margin: 0;
    font-family:Arial;
}

ul {
    padding: 0;
    margin: 0;
}

.navigation{
    display:table;
    position:relative;
    top: 0;
    width: 100%;        
    background-color:deepskyblue;
    padding:10px
}

.navigation ul{    
    float:right;
    list-style:none;	
}

.navigation ul li{	
	display:inline;	
}

.navigation a{	
        position:relative;  
	text-decoration:none;
	font-size:20px
}

.navigation ul li a{	
	text-decoration:none;
	font-size:15px;	
	padding:5px;	
}

.navigation ul li a:hover{	
	background-color:skyblue;
	
}

.content{
    /*float:left; comentado pois está sem categoria*/
    margin-top:10px;
    padding:5px;
    position:relative;
}

.categorias{
      float:left;      
      margin-top:10px;      
}

.categorias li{
    padding:5px;
    width:210px;
}

.categorias ul li a{
    text-decoration:none;
    padding:5px; 
           
}

.categorias ul li:hover{
    background-color:skyblue;        
}


.form-login{
    position:absolute;
    margin-left:-160px;
    left:50%;
    width:320px;
}

.form-cadastro{
    position:absolute;
    margin-left:-185px;
    left:50%;
    width: 350px;
}

fieldset{
    padding:20px;
    margin:0;
    width:inherit;
    height:auto;
    border:solid;
    border-color:lightgray   
}

fieldset legend{
    font-weight:bold;       
}

fieldset form select{
    position:relative;
    left:45%;    
    width:170px; 
    
}

fieldset form input{
    position:relative;
    left:45%;    
    width:170px; 
    
}

fieldset form input[type=text]{   
    padding:3px;     
}

fieldset form input[type=password]{   
    padding:3px;     
}

fieldset form label{ 
    position:absolute;  
    text-align: right;  
}

fieldset form input[type=submit]{  
    position: relative;  
    width:176px;
    margin-top:20px;
}

.menu-user{
    margin-top: 10px;
}

.menu-user ul li{
    display:inline;
    text-decoration:none;
    border:1px;
    border-style:solid;
    border-color:deepskyblue;
    padding:3px;
}

.menu-user ul li:hover{
    background-color:skyblue;
}

.menu-user ul li a{
    text-decoration:none;    

}

.error{
    border:1px;
    border-style:solid;
    padding:10px;
    background-color:red;
    width: inherit;
}

