@import url("royalslider.css");
/*
 * RESET *
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin:0;padding:0;border:0;outline:0;}
a {text-decoration:none;}
a:hover {text-decoration:none}
ol, ul {list-style:none;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
blockquote:before, blockquote:after,q:before, q:after {content:"";}
blockquote, q {quotes: "" "";}
hr.off, .marca-home, legend {display:none;}

@font-face {
    font-family: 'futura_hv_btheavy';
    src: url('fontes/futurah-webfont.eot');
    src: url('fontes/futurah-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/futurah-webfont.woff') format('woff'),
         url('fontes/futurah-webfont.ttf') format('truetype'),
         url('fontes/futurah-webfont.svg#futura_hv_btheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	width: 100%;
	height: 100%;
	background-image: url('../images/bg.jpg');
	background-repeat: repeat-x;
	font-family: Verdana;
	font-size: 12px;
	color: #666;
}
h1{
	font-family: 'futura_hv_btheavy', Arial;
	font-size: 14px;
	color: #757779;
	text-transform: uppercase;
}

/* 
*******************************
       BOTOES
*******************************
*/
.botao{
	opacity:0.80;
	-moz-opacity: 0.80;
	filter: alpha(opacity=80);
	-webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
.botao:hover{
	opacity:100;
	-moz-opacity: 100;
	filter: alpha(opacity=100);
}

/* 
*******************************
       CONTAINER
*******************************
*/
#container{
	width: 100%;
	background-image: url('../images/bg_centro.png');
	background-repeat: repeat-y;
	background-position: center;
}
/* 
*******************************
       CONTENT
*******************************
*/
#container .content{
	width: 920px;
}
/* 
*******************************
       CENTRALIZANDO
*******************************
*/
.centralizando{
	width: 960px;
	margin: 0 auto;
}

/* 
*******************************
       RECEBA NOVIDADES
*******************************
*/
#container #recebanovidades{
	position: fixed;
	z-index: 99999999999999;
	top: 0px;
	width: 100%;
	height: 160px;
	background-image: url('../images/bg-barra.png');
	background-repeat: repeat-x;
	background-position: -2px;
	margin-top: -160px;
}
#container #recebanovidades .centralizando{
	text-align: center;
	padding-top: 10px;
}
#container #recebanovidades .centralizando .fechar{
	position: absolute;
	font-size: 14px;
	color: #f0b9d4;
	margin-left: 830px;
	cursor: pointer;
}
#container #recebanovidades .centralizando h1{
	color: #fff;
	font-size: 22px; 
}
#container #recebanovidades .centralizando p{
	font-size: 14px;
	color: #e7a2c1;
	display: block;
	text-align: center;
	margin-top: 2px;
	text-transform: uppercase;
}
#container #recebanovidades .centralizando form{
	margin-top: 15px;
}
#container #recebanovidades .centralizando form label{
	font-size: 14px;
	color: #e7a2c1;
}
#container #recebanovidades .centralizando form label.email{
	margin-left: 40px;
}
#container #recebanovidades .centralizando form input[type="text"]{
	width: 335px;
	line-height: 25px;
	padding-left: 10px;
}
#container #recebanovidades .centralizando form input.cadastrar{
	position: relative;
	font-size: 16px;
	color: #f0b9d4;
	border: 0px;
	background-color: transparent;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 753px;
}
/* 
*******************************
       CHECKBOX
*******************************
*/
.footage-checkbox {
	background: url("../images/sprite-geral.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	display: block;
	float: left;
	height: 14px;
	margin-left: 1px;
	margin-top: 15px;
	width: 13px;
	background-position: -302px 0px;
}
.footage-checkbox.checked{
	background-position: -302px -14px;
}

/* 
*******************************
       HEADER
*******************************
*/
#container #header{
	clear: both;
	overflow: hidden;
}
#container #header .top{
	line-height: 48px;
	background-color: #929495;
	overflow: hidden;
	font-family: verdana;
	font-size: 11px;
}
#container #header .top a{
	color: #fff;
	text-decoration: none;
}
#container #header .top a:hover{
	text-decoration: underline;
}
#container #header .top .centralizando{
	padding-right: 10px;
	padding-left: 10px;
	width: 940px;
	clear: both;
}
#container #header .top .atendimento,
#container #header .top ul.entrada{
	float: left;
}
#container #header .top ul.entrada{
	margin-left: 400px;
}
#container #header .top ul.entrada li{
	float: left;
	list-style-type: disc;
	color: #fff;
	margin-left: 20px;
}
#container #header .top ul.entrada li a{
	margin-left: -5px;
}
#container #header .top ul.entrada li.first{
	list-style-type: none;
}
#container #header .carrinho{
	float: right;
}
#container #header .carrinho .minhascompras{
	float: left;
	letter-spacing: -1px;
	margin-right: 5px;
}
#container #header .carrinho .icon{
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 39px;
	height: 28px;
	float: right;
	margin-top: 10px;
}
#container #header h1{
	position: absolute;
	margin-top: -12px;
	margin-left: 2px;
	z-index: 999999;
}
#container #header h1 a{
	overflow: hidden;
	display: block;
	height: 207px;
}
#container #header .direitologo{
	width: 560px;
	height: 160px;
	float: right;
	padding-right: 10px;
	padding-top: 65px;
}
#container #header .direitologo input{
	float: left;
}
#container #header .direitologo input.busca{
	width: 305px;
	line-height: 25px;
	padding-left: 10px;
	background-color: #f7f7f7;
	border: 1px solid #dadada;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#container #header .direitologo input.btnbuscar{
	border: 0px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -43px 0px;
	width: 29px;
	height: 29px;
	text-indent: -9999999px;
	cursor: pointer;
	margin-left: -29px;
	margin-top: 2px;
	position: absolute;
}
#container #header .direitologo ul.redesocial{
	float: right;
	margin-top: 5px;
}
#container #header .direitologo ul.redesocial li{
	float: left;
	height: 24px;
	margin-right: 5px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	text-indent: -9999999px;
}
#container #header .direitologo ul.redesocial li a{
	display: block;
	height: 24px;
}
#container #header .direitologo ul.redesocial li:last-child{
	margin-right: 0px;
}
#container #header .direitologo ul.redesocial li.compartilhe{
	width: 90px;
	margin-right: 10px;
	background-position: 0 -31px;
}
#container #header .direitologo ul.redesocial li.facebook{
	width: 22px;
	background-position: -97px -31px;
}
#container #header .direitologo ul.redesocial li.gplus{
	width: 22px;
	background-position: -123px -31px;
}
#container #header .direitologo ul.redesocial li.pinterest{
	width: 22px;
	background-position: -149px -31px;
}
#container #header .direitologo ul.menu{
	display: block;
	clear: both;
	z-index: 9999999999;
}
#container #header .direitologo ul.menu li{
	float: left;
	margin-right: 40px;
	margin-top: 50px;
}
#container #header .direitologo ul.menu li a{
	color: #b2b2b2;
	font-family: Verdana;
	font-size: 14px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
#container #header .direitologo ul.menu li a:hover,
#container #header .direitologo ul.menu li a.ativo{
	border-bottom: 4px solid #c51265;
}

/* 
*******************************
       RECEBA NOVIDADES
*******************************
*/
#container #breadcrumb{
	width: 940px;
	position: relative;
	left: 50%;
	margin-left: -482px;
	padding-left: 20px;
	line-height: 35px;
	color: #e6e6e6;
	font-size: 16px;
	font-family: 'futura_hv_btheavy';
	margin-top: -30px;
	margin-bottom: 20px;
	font-weight: normal;
}
#container #breadcrumb a{
	color: #e6e6e6;
	z-index: 9999999999999;
}
#container #breadcrumb.gemeos{
	background-color: #ababab;
}
#container #breadcrumb.menino{
	background-color: #1e6491;
}
#container #breadcrumb.menina{
	background-color: #881b4d;
}
#container #breadcrumb.unisses{
	background-color: #5d5d5d;
}


.ordenarpor{
	position: absolute;
	top: 252px;
	z-index: 100000000;
	left: 820px;
	/*right:10px;*/
	width: 150px;
	height: 35px;
	cursor: pointer;
}

.ordenarpor span{
	float: left;
	text-align: right;
	width: 130px;
	font-size: 12px;
	color:white;
	text-transform: uppercase;
	font-family: 'futura_hv_btheavy';
}
.ordenarpor .mascaraordenarpor .seta{
	width: 15px;
	height: 7px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -451px -206px;
	float: right;
	margin-top: 5px;
}
.ordenarpor select{
	/*margin-top: 10px;*/
	width: 150px !important;
	height: 30px;
	opacity:0;
	margin:0 50px 0 0 !important;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	/*position: absolute;*/
	z-index: 9999999999;
	cursor: pointer;
}
/*#container #breadcrumb .ordenarpor{
	float: right;
	width: 150px;
	height: 35px;
	margin-right: 20px;
	cursor: pointer;
}
#container #breadcrumb .ordenarpor span{
	float: left;
	text-align: right;
	width: 130px;
	font-size: 12px;
	text-transform: uppercase;
}
#container #breadcrumb .ordenarpor .mascaraordenarpor .seta{
	width: 15px;
	height: 7px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -451px -206px;
	float: right;
	margin-top: 15px;
}
#container #breadcrumb .ordenarpor select{
	margin-top: 10px;
	width: 150px;
	height: 30px;
	opacity:0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	z-index: 9999999999;
	cursor: pointer;
}*/

/* 
*******************************
       SIDEBAR
*******************************
*/
#container #sidebar{
	float: left;
	width: 230px;
	height: auto;
	margin-left: -5px;
}
.accordionWrapper{
	display:inline-block; 
	background-color:#eeeeee; 
	overflow:hidden;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 40px;
}
.accordionWrapper div{
	display:inline; 
	float:left; 
	margin:auto;
}
.accordionWrapper div.set{
	border-bottom: 1px solid #fff;
	padding: 10px;
	overflow: hidden;
}
.accordionWrapper div.set:last-child{
	border-bottom: 0px;
}
.accordionWrapper div.title{
	cursor:pointer;
	overflow: hidden;
}
.accordionWrapper div.title h2{
	float: left;
	font-size: 12px;
	color: #757779;
	font-family: Verdana;
	font-weight: normal;
	margin-top: 8px;
	margin-left: 60px;
	position: absolute;
}
.accordionWrapper div.content{
	display:none;
}
.accordionWrapper div.content ul{
	display: block;
	margin-left: 60px;
}
.accordionWrapper div.content ul li a{
	font-size: 10px;
	font-family: Verdana;
	color: #757779;
	letter-spacing: 1px;
}
.accordionWrapper div.content ul li a:hover{
	text-decoration: underline;
}
.accordionWrapper div.title .icon{
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	float: left;
	width: 32px;
	height: 30px;
	margin-left: 5px;
}
.accordionWrapper .roupas div.title .icon{
	width: 33px;
	height: 31px;
	background-position: -61px -97px;
}
.accordionWrapper .roupas div.title:hover .icon{
	background-position: -10px -96px;
}
.accordionWrapper .sapatos div.title .icon{
	width: 34px;
	height: 33px;
	background-position: -61px -138px;
}
.accordionWrapper .sapatos div.title:hover .icon{
	background-position: -9px -137px;
}
.accordionWrapper .acessorios div.title .icon{
	width: 39px;
	height: 30px;
	background-position: -59px -182px;
}
.accordionWrapper .acessorios div.title:hover .icon{
	background-position: -7px -181px;
}
.accordionWrapper .brinquedos div.title .icon{
	width: 34px;
	height: 37px;
	background-position: -62px -225px;
}
.accordionWrapper .brinquedos div.title:hover .icon{
	background-position: -10px -224px;
}
.accordionWrapper .livrosedvds div.title .icon{
	width: 39px;
	height: 26px;
	background-position: -60px -274px;
}
.accordionWrapper .livrosedvds div.title:hover .icon{
	background-position: -8px -273px;
}
.accordionWrapper .enxoval div.title .icon{
	width: 46px;
	height: 32px;
	background-position: -54px -315px;
}
.accordionWrapper .enxoval div.title:hover .icon{
	background-position: -2px -314px;
}
.accordionWrapper .moveisedecoracao div.title .icon{
	width: 33px;
	height: 27px;
	background-position: -61px -358px;
}
.accordionWrapper .moveisedecoracao div.title:hover .icon{
	background-position: -9px -360px;
}
.accordionWrapper .cadeirasecarrinhos div.title .icon{
	width: 33px;
	height: 45px;
	background-position: -59px -396px;
}
.accordionWrapper .cadeirasecarrinhos div.title:hover .icon{
	background-position: -7px -398px;
}
#container #sidebar .filtrar-por{
	width: 230px;
	background-color:#eeeeee; 
	overflow:hidden;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 10px;
}
#container #sidebar .filtrar-por h2{
	clear: both;
	font-size: 12px;
	color: #757779;
	font-family: Verdana;
	font-weight: normal;
	margin-top: 8px;
	margin-left: 10px;
	margin-top: 20px;
}
#container #sidebar .filtrar-por h2:first-child{
	margin-top: 0px;
}
#container #sidebar .filtrar-por ul{
	display: block;
	margin-left: 30px;
	margin-top: 5px;
}
#container #sidebar .filtrar-por ul li a{
	font-size: 10px;
	font-family: Verdana;
	color: #757779;
	letter-spacing: 1px;
}
#container #sidebar .filtrar-por ul li a:hover{
	text-decoration: underline;
}
#container #sidebar .filtrar-por .mascaraestados{
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -110px -95px;
	width: 205px;
	height: 25px;
	margin-left: 10px;
	margin-top: 10px;
	cursor: pointer;
}
#container #sidebar .filtrar-por .mascaraestados span{
	font-size: 10px;
	font-family: Verdana;
	color: #757779;
	letter-spacing: 1px;
	margin-top: 6px;
	margin-left: 15px;
	float: left;
}
#container #sidebar .filtrar-por select{
	width: 205px;
	height: 25px;
	margin-left: 10px;
	margin-top: -22px;
	opacity:0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	z-index: 9999999999;
	cursor: pointer;
}
#container #sidebar .filtrar-por div.de-por label{
	font-size: 10px;
	font-family: Verdana;
	color: #757779;
	letter-spacing: 1px;
	margin-top: 5px;
}
#container #sidebar .filtrar-por div.de-por label.de{
	display: block;
	float: left;
	margin-left: 10px;
	margin-right: 70px;
}
#container #sidebar .filtrar-por div.de-por label.por{
	display: block;
	float: left;
}
#container #sidebar .filtrar-por div.de-por input{
	width: 95px;
}
#container #sidebar .filtrar-por div.de-por input.de{
	margin-left: 10px;
}
#container #sidebar .newsletter{
	width: 230px;
	height: 90px;
	padding: 10px;
	padding-top: 20px;
	background-image: url('../images/bg_news.jpg');
	background-repeat: repeat-x;
	margin-top: 20px;
}
#container #sidebar .newsletter h2{
	font-family: Verdana;
	font-size: 15px;
	color: #fff;
	text-align: center;
}
#container #sidebar .newsletter p{
	font-size: 11px;
	color: #e7a2c1;
	display: block;
	text-align: center;
	margin-top: 2px;
}
#container #sidebar .newsletter input.email{
	border: 1px solid #a43165;
	width: 200px;
	height: 20px;
	position: relative;
	top: 10px;
	padding-left: 10px;
	margin: 0 auto;
	display: block;
}
#container #sidebar .newsletter input.assinar{
	width: 78px;
	height: 20px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -119px -3px;
	background-color: transparent;
	text-indent: -999999px;
	border: 0;
	float: right;
	margin-top: 13px;
	margin-right: 17px;
	cursor: pointer;
}
#container #sidebar .banner{
	width: 250px;
	height: auto;
	margin-top: 20px;
}

/* 
*******************************
       PRATELEIRA
*******************************
*/
#container #right{
	float: right;
	width: 640px;
	height: auto;
}
#container #right ul.prateleira{
	display: block;
	margin-top: 10px;
	width: 680px;
	overflow: hidden;
	margin-left: -35px;
}
#container #right ul.prateleira li{
	float: left;
	width: 190px;
	height: 190px;
	margin-left: 35px;
	margin-bottom: 35px;
}
#container #right ul.prateleira li a{
	color: #fff;
}
#container #right ul.prateleira li .informacao{
	line-height: 30px;
	position: absolute;
	margin-top: 160px;
	margin-left: 75px;
}
#container #right ul.prateleira li .informacao .tamanho{
	width: 30px;
	text-align: center;
}
#container #right ul.prateleira li .informacao .preco{
	width: 85px;
	text-align: center;
}
#container #right ul.prateleira li .informacao .tamanho,
#container #right ul.prateleira li .informacao .preco{
	float: left;
}
#container #right ul.prateleira li .informacao .semresposta{
	background-color: transparent;
	text-indent: -9999999px;
}
#container #right ul.prateleira li .informacao .tamanho.menino{
	background-color: #28485d;
}
#container #right ul.prateleira li .informacao .tamanho.menina{
	background-color: #881b4d;
}
#container #right ul.prateleira li .informacao .tamanho.unisses{
	background-color: #817f80;
}
#container #right ul.prateleira li .informacao .tamanho.gemeos{
	background-color: #ABABAB;
}
#container #right ul.prateleira li .informacao .preco.menino{
	background-color: #1e6491;
}
#container #right ul.prateleira li .informacao .preco.menina{
	background-color: #cf3a7f;
}
#container #right ul.prateleira li .informacao .preco.unisses{
	background-color: #5d5d5d;
}
#container #right ul.prateleira li .informacao .preco.gemeos{
	background-color: #727272;
}
.tooltip {
  display: none;
  position: absolute;
  width: 191px;
  height: 80px;
  background-image: url('../images/tooltip.png');
  background-repeat: no-repeat;
  margin-left: -110px;
  z-index: 99999999;
}
.tooltip .nome {
	margin-left: 10px;
	margin-top: 10px;
	font-weight: bold;
	font-weight: 11px;
	color: #000;
	letter-spacing: -1px;
}
.tooltip .usadoounovo {
	margin-left: 10px;
	margin-top: 2px;
	font-weight: 10px;
	letter-spacing: -1px;
}
#container #right .exibirmais{
	height: 50px;
	background-color: #faecf2;
	clear: both;
	overflow: hidden;
	cursor: pointer;
}
#container #right .exibirmais div.mais{
	width: 215px;
	height: 10px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -111px -125px;
	margin: 0 auto;
	margin-top: 20px;
	text-indent: -99999px;
}

/* 
*******************************
       TELA DE LOGIN
*******************************
*/
#container ul.teladelogin{
	width: 800px;
	padding-top: 40px;
	display: block;
	margin: 0 auto;
}
#container ul.teladelogin li{
	width: 350px;
	float: left;
	text-align: center;
	overflow: hidden;
}
#container ul.teladelogin li h1 span{
	font-size: 12px;
	font-weight: normal;
}
#container ul.teladelogin li.first{
	padding-right: 40px;
	border-right: 2px solid #185975;
	height: 270px;
}
#container ul.teladelogin li.last{
	padding-right: 0px;
	padding-left: 40px;
	border-right: 0px;
	margin: 0;
}
#container ul.teladelogin li.last p{
	font-size: 11px;
	margin-top: 10px;
}
#container ul.teladelogin li.last p.crie{
	width: 250px;
	margin: 0 auto;
	margin-top: 10px;
}
#container ul.teladelogin li form input[type="text"],
#container ul.teladelogin li form input[type="password"]{
	width: 340px;
	height: 25px;
	padding-left: 15px;
	background-color: #f7f7f7;
	color: #dadada;
	border: 1px solid #dadada;
	clear: both;
	margin-top: 15px;
}
#container ul.teladelogin li form input.acessar{
	width: 100px;
	height: 26px;
	border: 0px;
	background-color: transparent;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -113px -191px;
	text-indent: -9999px;
	cursor: pointer;
	float: right;
	margin-top: 10px;
}
#container ul.teladelogin li form label{
	float: left;
	margin-top: 15px;
	margin-left: 10px;
	color: #000;
	font-size: 11px;
}
#container ul.teladelogin li .esquecisenha{
	float: left;
	margin-top: 30px;
	margin-left: 80px;
}
#container ul.teladelogin li .esquecisenha a{
	color: #c51265;
	font-size: 12px;
	font-family: Verdana;
	text-decoration: underline;
}
#container ul.teladelogin li .conectefacebook{
	width: 232px;
	height: 39px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -112px -145px;
	text-indent: -9999px;
	margin: 0 auto;
	margin-top: 10px;
}
#container ul.teladelogin li .conectefacebook a{
	display: block;
	height: 39px;
}
#container ul.teladelogin li .ou{
	height: 2px;
	width: 100%;
	background-color: #185975;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}
#container ul.teladelogin li .ou span{
	display: block;
	width: 40px;
	height: 16px;
	float: left;
	margin-top: -8px;
	margin-left: 150px;
	background-color: #fff;
}
#container ul.teladelogin li .criesuaconta{
	width: 157px;
	height: 26px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -112px -224px;
	text-indent: -9999px;
	margin: 0 auto;
	margin-top: 20px;
}
#container ul.teladelogin li .criesuaconta a{
	display: block;
	height: 26px;
}

/* 
*******************************
       TELA DE CADASTRO
*******************************
*/
#container ul.teladecadastro{
	padding-top: 40px;
	display: block;
	margin: 0 auto;
}
#container ul.teladecadastro li{
	width: 300px;
	float: left;
	text-align: center;
}
#container ul.teladecadastro li .inputs{
	width: 270px;
	float: left;
	margin-left: 15px;
	margin-top: 10px;
}
#container ul.teladecadastro li .linhadivisoria{
	width: 2px;
	height: 200px;
	background-color: #e8eef1;
	float: right;
}
#container ul.teladecadastro li .numeroli{
	width: 100px;
	line-height: 100px;
	background-color: #f3d0e0;
	font-family: 'futura_hv_btheavy', verdana;
	font-size: 71px;
	color: #fff;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 20px;
}
#container ul.teladecadastro li input{
	margin-bottom: 10px;
}
#container ul.teladecadastro li input[type="text"],
#container ul.teladecadastro li input[type="password"]{
	background-color: #f7f7f7;
	border: 1px solid #dadada;
	color: #a9a9a9;
	height: 25px;
	padding-left: 10px;
}
#container ul.teladecadastro li input.confirmaremail,
#container ul.teladecadastro li input.email,
#container ul.teladecadastro li input.nome,
#container ul.teladecadastro li input.cep{
	width: 250px;
	clear: both;
}
#container ul.teladecadastro li input.endereco{
	width: 157px;
	float: left;
	margin-right: 10px;
	margin-left: 3px;
}
#container ul.teladecadastro li input.numero{
	width: 70px;
	float: left;
}
#container ul.teladecadastro li input.complemento{
	width: 127px;
	float: left;
	margin-left: 3px;
}
#container ul.teladecadastro li input.bairro{
	width: 100px;
	float: left;
	margin-left: 10px;
}
#container ul.teladecadastro li input.confirmarsenha,
#container ul.teladecadastro li input.senha,
#container ul.teladecadastro li input.usuario,
#container ul.teladecadastro li input.datadenascimento,
#container ul.teladecadastro li input.cpf,
#container ul.teladecadastro li input.cnpj,
#container ul.teladecadastro li input.celular,
#container ul.teladecadastro li input.telefone{
	width: 115px;
	float: left;
}
#container ul.teladecadastro li input.senha,
#container ul.teladecadastro li input.usuario,
#container ul.teladecadastro li input.datadenascimento,
#container ul.teladecadastro li input.telefone{
	margin-left: 3px;
	margin-right: 7px;
}
#container ul.teladecadastro li .mascaraselectsexo,
#container ul.teladecadastro li .mascaraselectuf,
#container ul.teladecadastro li .mascaraselectcidade{
	width: 115px;
	height: 19px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -327px -98px;
	float: left;
	border: 1px solid #dadada;
	margin-top: 0px;
	color: #a9a9a9;
	z-index: 99;
	cursor: pointer;
	font-size: 11px;
	font-family: Arial;
	text-align: left;
	padding-left: 10px;
	padding-top: 8px;
	overflow: hidden;
	margin-bottom: 10px;
}
#container ul.teladecadastro li .mascaraselectuf{
	width: 60px;
	background-position: -382px -98px;
	margin-left: 3px;
	cursor: pointer;
}
#container ul.teladecadastro li .mascaraselectcidade{
	width: 170px;
	margin-left: 10px;
	background-position: -263px -194px;
	cursor: pointer;
}
#container ul.teladecadastro li select.sexo{
	height: 25px;
	width: 135px;
	position: absolute;
	z-index: 9999999;
	margin-left: -133px;
	margin-top: 45px;
	opacity:0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}
#container ul.teladecadastro li select.uf{
	width: 70px;
	height: 25px;
	margin-left: -263px;
	margin-top: 130px;
	position: absolute;
	cursor: pointer;
	opacity:0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
#container ul.teladecadastro li select.cidade{
	width: 180px;
	height: 25px;
	position: absolute;
	margin-left: -180px;
	margin-top: 130px;
	cursor: pointer;
	opacity:0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
#container ul.teladecadastro li label{
	color: #babbbc;
	float: left;
	margin-top: 10px;
	font-size: 14px;
	margin-left: 2px;
}
#container ul.teladecadastro .cpfoucnpj{
	float: left;
	width: 128px;
	margin-left: 3px;
	margin-right: 7px;
}
#container ul.teladecadastro .cpfoucnpj label.cpf,
#container ul.teladecadastro .cpfoucnpj #radiocpf,
#container ul.teladecadastro .cpfoucnpj label.cnpj,
#container ul.teladecadastro .cpfoucnpj #radiocnpj{
	float: left;
} 
#container ul.teladecadastro .cpfoucnpj #radiocpf,
#container ul.teladecadastro .cpfoucnpj #radiocnpj{
	margin-top: 12px;
	display: block;
}
#container ul.teladecadastro .cpfoucnpj #radiocnpj{
	margin-left: 25px;
}
#container ul.teladecadastro li p.termo{
	width: 220px;
	font-size: 11px;
	margin-top: 20px;
	float: left;
	margin-left: 40px;
}
#container form.criarconta .criarconta{
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -112px -256px;
	width: 230px;
	height: 63px;
	clear: both;
	text-indent: -99999px;
	margin-top: 40px;
	left: 50%;
	margin-left: -125px;
	position: relative;
	float: left;
}
#container form.criarconta .criarconta a{
	display: block;
	overflow: hidden;
	height: 63px;
}

/* 
*******************************
       COMO FUNCIONA
*******************************
*/
#container .comofunciona{
	width: 800px;
	margin: 0 auto;
}
#container .comofunciona h1{
	font-size: 20px;
}
#container .comofunciona p{
	width: 700px;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 11px;
}
#container .comofunciona iframe{
	padding-top: 20px;
	margin: 0 auto;
	display: block;
}

/* 
*******************************
       QUERO COMPRAR
*******************************
*/
#container .querocomprar{
	width: 850px;
	margin: 0 auto;
}
#container .querocomprar .imagesprite{
	float: left;
	width: 295px;
	height: 255px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -115px -323px;
}
#container .querocomprar .texto{
	float: left;
	width: 520px;
	margin-top: 50px;
	margin-left: 30px;
}
#container .querocomprar .texto h1{
	font-size: 20px;
}
#container .querocomprar .texto p{
	margin: 0 auto;
	margin-top: 20px;
	font-size: 11px;
}

/* 
*******************************
       QUERO VENDER
*******************************
*/
#container .querovender .imagesprite{
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
}
#container .querovender h1{
	font-size: 20px;
}
#container .querovender h2{
	font-size: 14px;
	font-family: 'futura_hv_btheavy', Verdana;
	color: #757779;
}
#container .querovender p{
	font-size: 11px;
	font-weight: normal;
	margin-bottom: 10px;
	color: #000;
}
#container .querovender h2.oqueeavisp{
	margin-top: 20px;
	margin-bottom: 20px;
}
#container .querovender h2.quantocusta{
	margin-top: 60px;
	margin-bottom: 20px;
}
#container .querovender .a-1,
#container .querovender .a-2{
	width: 800px;
	margin: 0 auto;
}
#container .querovender .a-1 .imagesprite.querovenderimg1{
	width: 167px;
	height: 150px;
	background-position: -473px 0px;
	float: left;
	margin-right: 60px;
	margin-left: 60px;
}
#container .querovender .a-2 a{
	font-weight: bold;
	text-decoration: underline;
	color: #000;
}
#container .querovender .a-2 .imagesprite.querovenderimg2{
	width: 177px;
	height: 184px;
	background-position: -473px -160px;
	float: right;
	margin-right: 40px;
	margin-left: 150px;
}
#container .querovender ul.a-3{
	margin-top: 60px;
}
#container .querovender .a-3 h2.seismotivos{
	text-transform: uppercase;
}
#container .querovender .a-3 li{
	width: 140px;
	float: left;
	margin-right: 15px;
	margin-top: 20px;
	text-align: center;
}
#container .querovender .a-3 li:last-child{
	margin-right: 0px;
}
#container .querovender .a-3 li span{
	margin-top: 10px;
	font-size: 10px;
	display: block;
	text-transform: uppercase;
}
#container .querovender .a-3 li div.icon{
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	margin: 0 auto;
}
#container .querovender .a-3 li div.icon.primeiro{
	background-position: -472px -344px;
	width: 112px;
	height: 107px;
}
#container .querovender .a-3 li div.icon.segundo{
	background-position: -472px -456px;
	width: 112px;
	height: 107px;
}
#container .querovender .a-3 li div.icon.terceiro{
	background-position: -474px -571px;
	width: 130px;
	height: 75px;
	margin-top: 32px;
}
#container .querovender .a-3 li div.icon.quarto{
	background-position: -474px -653px;
	width: 94px;
	height: 108px;
}
#container .querovender .a-3 li div.icon.quinto{
	background-position: -474px -770px;
	width: 92px;
	height: 108px;
}
#container .querovender .a-3 li div.icon.sexto{
	background-position: -476px -886px;
	width: 118px;
	height: 108px;
}

/* 
*******************************
       DADOS PRODUTO
*******************************
*/
#container .dadosdoproduto .primeironivel h3,
#container .dadosdoproduto .segundonivel h3,
#container .dadosdoproduto .terceironivel h3,
#container .dadosdoproduto .quartonivel h3{
	margin-bottom: 20px;
}
#container .dadosdoproduto .primeironivel{
	clear: both;
	overflow: hidden;
}
#container .dadosdoproduto .primeironivel .tituloedescricao{
	float: left;
	width: 445px;
}
#container .dadosdoproduto .primeironivel .tituloedescricao input[type="text"]{
	width: 430px;
	height: 23px;
	padding-left: 10px;
}
#container .dadosdoproduto .primeironivel .tituloedescricao textarea{
	width: 430px;
	height: 100px;
	margin-top: 10px;
	padding-left: 10px;
	border: 1px solid #dadada;
}
#container .dadosdoproduto .primeironivel .categoriatamanhocormarca{
	width: 217px;
	float: left;
	margin-left: 20px;
}
#container .dadosdoproduto .primeironivel .categoriatamanhocormarca .mascaracategoria{
	width: 205px;
	height: 20px;
	margin: 0 auto;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -226px -194px;
	text-align: left;
	padding-left: 10px;
	padding-top: 7px;
	font-size: 11px;
	cursor: pointer;
	border: 1px solid #dadada;
	margin-bottom: 12px;
	color: #b6b7b8;
}
#container .dadosdoproduto .primeironivel .categoriatamanhocormarca select#categoria{
	position: absolute;
	z-index: 9999999;
	margin-top: -35px;
	margin-left: 0px;
	width: 220px;
	opacity:0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}
#container .dadosdoproduto .primeironivel .categoriatamanhocormarca input[type="text"]{
	width: 202px;
	height: 21px;
	margin-bottom: 11px;
	padding-left: 10px;
}
#container .dadosdoproduto .primeironivel .subcategoriacondicaoorigem{
	width: 217px;
	float: right;
	margin-left: 20px;
}
#container .dadosdoproduto .primeironivel .subcategoriacondicaoorigem .mascarasubcategoria{
	width: 202px;
	height: 20px;
	margin: 0 auto;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -231px -194px;
	text-align: left;
	padding-left: 10px;
	padding-top: 7px;
	font-size: 11px;
	cursor: pointer;
	border: 1px solid #dadada;
	margin-bottom: 12px;
	color: #b6b7b8;
}
#container .dadosdoproduto .primeironivel .subcategoriacondicaoorigem select#subcategoria{
	position: absolute;
	z-index: 9999999;
	margin-top: -35px;
	margin-left: 0px;
	width: 200px;
	opacity:0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}
#container .dadosdoproduto .primeironivel .subcategoriacondicaoorigem .condicao,
#container .dadosdoproduto .primeironivel .subcategoriacondicaoorigem .origem{
	margin-top: 17px;
}
#container .dadosdoproduto .primeironivel .subcategoriacondicaoorigem label{
	color: #babbbc;
	margin-right: 15px;
}
#container .dadosdoproduto .primeironivel .subcategoriacondicaoorigem h4{
	font-size: 12px;
	color: #babbbc;
	font-family: Verdana;
	margin-bottom: 5px;
}
#container .dadosdoproduto .segundonivel{
	clear: both;
	overflow: hidden;
	margin-top: 40px;
}
#container .dadosdoproduto .segundonivel ul.tabeladefrete{
	margin-left: -20px;
}
#container .dadosdoproduto .segundonivel ul.tabeladefrete li{
	width: 135px;
	float: left;
	margin-left: 21px;
	overflow: hidden;
	cursor: pointer;
}
#container .dadosdoproduto .segundonivel ul.tabeladefrete li .mascarainput{
	width: 135px;
	line-height: 62px;
	text-align: center;
	background-color: #d8d8d9;
	overflow: hidden;
	font-family: 'futura_hv_btheavy';
	color: #757779;
	font-size: 12px;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    cursor: pointer;
}
#container .dadosdoproduto .segundonivel ul.tabeladefrete li:hover .mascarainput,
#container .dadosdoproduto .segundonivel ul.tabeladefrete li .mascarainput.ativo{
	background-color: #b2b2b3;
}
#container .dadosdoproduto .segundonivel ul.tabeladefrete li input[type="radio"]{
	width: 135px;
	height: 70px;
	position: absolute;
	margin-top: -60px;
	opacity:0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}

#container .dadosdoproduto .segundonivel ul.tabeladefrete li input[type="checkbox"]{
	width: 135px;
	height: 70px;
	position: absolute;
	margin-top: -60px;
	opacity:0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}

#container .dadosdoproduto .segundonivel ul.tabeladefrete li label{
	margin-top: 5px;
	float: left;
	cursor: pointer;
	font-size: 11px;
}
#container .dadosdoproduto .terceironivel{
	clear: both;
	overflow: hidden;
	margin-top: 40px;
}
#container .dadosdoproduto .quartonivel{
	clear: both;
	overflow: hidden;
	margin-top: 40px;
}
#container .dadosdoproduto .quartonivel .precoorigial{
	width: 340px;
	float: left;
}
#container .dadosdoproduto .quartonivel .seupreco{
	width: 340px;
	float: left;
	margin-left: 20px;
}
#container .dadosdoproduto .quartonivel .inputdequantidade{
	width: 200px;
	float: right;
}
#container .dadosdoproduto .quartonivel label{
	margin-top: 5px;
	float: left;
	text-align: right;
	font-size: 11px;
	font-weight: bold;
}
#container .dadosdoproduto .quartonivel input[type="text"]{
	width: 228px;
	height: 23px;
	float: right;
	margin-left: 0px;
	padding-left: 10px;
}
#container .dadosdoproduto .quartonivel .mascaraquantidade{
	width: 180px;
	height: 20px;
	margin: 0 auto;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -252px -194px;
	text-align: left;
	padding-left: 10px;
	padding-top: 7px;
	font-size: 11px;
	cursor: pointer;
	border: 1px solid #dadada;
	margin-bottom: 12px;
	color: #b6b7b8;
}
#container .dadosdoproduto .quartonivel select#quantidade{
	position: absolute;
	z-index: 9999999;
	margin-top: -35px;
	margin-left: 0px;
	width: 200px;
	opacity:0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}
#container .dadosdoproduto .quintonivel{
	clear: both;
	overflow: hidden;
	margin-top: 40px;
}
#container .dadosdoproduto .quintonivel p{
	width: 100%;
	text-align:center;
	font-size: 11px;
}
#container .dadosdoproduto .quintonivel .botao.enviarproduto{
	width: 230px;
	border: 0;
	height: 63px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -284px -1004px;
	text-indent: -99999px;
	cursor: pointer;
	margin: 0 auto;
	margin-top: 20px;
}
/* 
*******************************
       PRODUTO
*******************************
*/
#container .produto .vendedor{
	clear: both;
	height: 56px;
	margin-top: 27px;
}
#container .produto .vendedor .avatar{
	width: 56px;
	height: 56px;
	background-color: #ccc;
	float: left;
}
#container .produto .vendedor .dadosvendedor{
	float: left;
	margin-left: 10px;
	margin-top: 8px;
}
#container .produto .vendedor .dadosvendedor .titulovendedor{
	font-size: 9px;
	color: #d2d2d2;
}
#container .produto .vendedor .dadosvendedor h2{
	font-size: 13px;
}
#container .produto .vendedor .dadosvendedor h2.menino{
	color: #1E6491;
}
#container .produto .vendedor .dadosvendedor h2.menina{
	color: #881b4d;
}
#container .produto .vendedor .dadosvendedor h2.gemeos{
	color: #ababab;
}
#container .produto .vendedor .dadosvendedor h2.unisses{
	color: #5d5d5d;
}
#container .produto .vendedor .dadosvendedor .urlvendedor{
	font-size: 11px;
	color: #858585;
}
#container .produto .primeiro-nivel{
	margin-top: 20px;
	clear: both;
}
#container .produto .primeiro-nivel #produtoimagem{
	float: left;
	width:312px;
}
#container .produto .primeiro-nivel #produtoimagem .flag-nunca-usado{
	width: 124px;
	height: 122px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	position: absolute;
	z-index: 9999999999999;
	margin-top: -4px;
	margin-left: -4px;
	text-indent: -99999px;
}
#container .produto.menino .primeiro-nivel #produtoimagem .flag-nunca-usado{
	background-position: -124px -672px;
}
#container .produto.menina .primeiro-nivel #produtoimagem .flag-nunca-usado{
	background-position: 0 -672px;
}
#container .produto.unisses .primeiro-nivel #produtoimagem .flag-nunca-usado{
	background-position: -124px -793px;
}
#container .produto.gemeos .primeiro-nivel #produtoimagem .flag-nunca-usado{
	background-position: 0 -793px;
}
#container .produto .primeiro-nivel #produtoimagem .slides_container {
	width:312px;
	height: 360px;
	overflow:hidden;
	float:left;
	display:none;
}
#container .produto .primeiro-nivel #produtoimagem .slides_container span {
	width:312px;
	height: 360px;
	display:block;
}
#container .produto .primeiro-nivel #produtoimagem .next,
#container .produto .primeiro-nivel #produtoimagem .prev {
	position:absolute;
	overflow:hidden;
	width: 21px;
	height: 21px;
	display: block;
	z-index: 999999;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	text-indent: -99999px;
	margin-top: 170px;
}
#container .produto .primeiro-nivel #produtoimagem .prev {
	background-position: -377px -270px;
	margin-left: 5px;
}
#container .produto .primeiro-nivel #produtoimagem .next {
	background-position: -377px -290px;
	margin-left: 287px;
}
#container .produto .primeiro-nivel #produtoimagem .pagination {
	width:312px;
	height: 90px;
	margin-top: 10px;
	float: left;
	clear: both;
}
#container .produto .primeiro-nivel #produtoimagem .pagination li {
	width: 90px;
	height: 90px;
	float:left;
	margin-right: 21px;
	opacity:0.60;
	-moz-opacity: 0.60;
	filter: alpha(opacity=60);
	-webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
#container .produto .primeiro-nivel #produtoimagem .pagination li:last-child{
	margin-right: 0px;
}
#container .produto .primeiro-nivel #produtoimagem .pagination li.current,
#container .produto .primeiro-nivel #produtoimagem .pagination li:hover{
	opacity:10;
	-moz-opacity: 10;
	filter: alpha(opacity=100);
}
#container .produto .primeiro-nivel #produtoimagem #redessociais{
	margin-top: 20px;
	float: left;
}
#container .produto .primeiro-nivel #produtoimagem #redessociais h3{
	font-size: 12px;
	color: #6f6f6f;
	margin-bottom: 5px;
}
#container .produto .primeiro-nivel #produtoimagem #redessociais .addthis_toolbox .addthis_button_pinterest_pinit,
#container .produto .primeiro-nivel #produtoimagem #redessociais .addthis_default_style .addthis_counter{
	display: none!important;
}
#container .produto .primeiro-nivel #informacoesproduto{
	float: right;
	width: 330px;
	margin-left: 10px;
	margin-right: -18px;
}
#container .produto .primeiro-nivel #informacoesproduto h2.tituloproduto{
	font-size: 14px;
	float: left;
	width: 250px;
	display: block;
}
#container .produto.menino .primeiro-nivel #informacoesproduto h2.tituloproduto{
	color: #1e6491;
}
#container .produto.menina .primeiro-nivel #informacoesproduto h2.tituloproduto{
	color: #881b4d;
}
#container .produto.gemeos .primeiro-nivel #informacoesproduto h2.tituloproduto{
	color: #ababab;
}
#container .produto.unisses .primeiro-nivel #informacoesproduto h2.tituloproduto{
	color: #5d5d5d;
}
#container .produto .primeiro-nivel #informacoesproduto .ref{
	color: #d4d4d4;
	font-size: 9px;
	clear: both;
	position: relative;
	top: -10px;
}
#container .produto .primeiro-nivel #informacoesproduto #adorei{
	width: 60px;
	float: right;
	margin-top: -15px;
	text-align: center;
}
#container .produto .primeiro-nivel #informacoesproduto #adorei span{
	color: #6f6f6f;
	font-size: 10px;
}
#container .produto .primeiro-nivel #informacoesproduto #adorei .like{
	height: 35px;
	margin-top: 2px;
	margin-bottom: 2px;
	cursor: pointer;
}
#container .produto.menino .primeiro-nivel #informacoesproduto #adorei .like{
	background-color: #1e6491;
}
#container .produto.menina .primeiro-nivel #informacoesproduto #adorei .like{
	background-color: #881b4d;
}
#container .produto.gemeos .primeiro-nivel #informacoesproduto #adorei .like{
	background-color: #ababab;
}
#container .produto.unisses .primeiro-nivel #informacoesproduto #adorei .like{
	background-color: #5d5d5d;
}
#container .produto .primeiro-nivel #informacoesproduto #adorei .like .icon{
	width: 23px;
	height: 20px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: 0px -496px;
	margin: 0 auto;
	position: relative;
	top: 7px;
}
#container .produto .primeiro-nivel #informacoesproduto #preco{
	float: left;
	margin-top: 20px;
	overflow: hidden;
}
#container .produto .primeiro-nivel #informacoesproduto #preco .de{
	color: #9a9a9a;
	font-size: 14px;
}	
#container .produto .primeiro-nivel #informacoesproduto #preco .de span{
	text-decoration: line-through;
}
#container .produto .primeiro-nivel #informacoesproduto #preco .atual{
	color: #6f6f6f;
	font-size: 14px;
}
#container .produto .primeiro-nivel #informacoesproduto #preco .atual span{
	font-size: 22px;
	font-weight: bold;
}
#container .produto .primeiro-nivel #informacoesproduto #preco .condicao{
	color: #6f6f6f;
	font-size: 14px;
}
#container .produto .primeiro-nivel #informacoesproduto #flagfrete-e-botaocomprar{
	clear: both;
	margin-top: 20px;
	float: left;
}
#container .produto .primeiro-nivel #informacoesproduto #flagfrete-e-botaocomprar{
	width: 330px;
}
#container .produto .primeiro-nivel #informacoesproduto #flagfrete-e-botaocomprar .flagfrete{
	float: left;
	width: 143px;
	height: 37px;
	text-indent: -99999px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -325px -580px;
	margin-top: 3px;
}
#container .produto .primeiro-nivel #informacoesproduto #flagfrete-e-botaocomprar .comprar{
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	width: 158px;
	height: 43px;
	text-indent: -99999px;
	float: right;
}
#container .produto .primeiro-nivel #informacoesproduto #flagfrete-e-botaocomprar .comprar a{
	height: 43px;
	display: block;
}
#container .produto.menino .primeiro-nivel #informacoesproduto #flagfrete-e-botaocomprar .comprar{
	background-position: -162px -580px;
}
#container .produto.menina .primeiro-nivel #informacoesproduto #flagfrete-e-botaocomprar .comprar{
	background-position: 0 -580px;
}
#container .produto.gemeos .primeiro-nivel #informacoesproduto #flagfrete-e-botaocomprar .comprar{
	background-position: 0px -627px;
}
#container .produto.unisses .primeiro-nivel #informacoesproduto #flagfrete-e-botaocomprar .comprar{
	background-position: -162px -627px;
}
#container .produto .primeiro-nivel #informacoesproduto #descricaodoproduto{
	clear: both;
	float: left;
	margin-top: 40px;
	width: 310px;
}
#container .produto .primeiro-nivel #informacoesproduto #descricaodoproduto h3{
	font-size: 14px;
	color: #6f6f6f;
	margin-bottom: 5px;
}
#container .produto .primeiro-nivel #informacoesproduto #descricaodoproduto p{
	font-size: 11px;
	color: #6f6f6f;
}
#container .produto .primeiro-nivel #informacoesproduto #origemdoproduto{
	clear: both;
	float: left;
	margin-top: 20px;
}
#container .produto .primeiro-nivel #informacoesproduto #origemdoproduto h3{
	font-size: 12px;
	color: #6f6f6f;
}
#container .produto .primeiro-nivel #informacoesproduto #origemdoproduto .retangulo{
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #999;
	text-align: center;
	font-size: 14px;
	color: #fff;
	font-family: 'futura_hv_btheavy';
	text-transform: uppercase;
	margin-top: 5px;
}
#container .produto .primeiro-nivel #informacoesproduto #qualificacaodovendedor{
	clear: both;
	float: left;
	margin-top: 40px;
}
#container .produto .primeiro-nivel #informacoesproduto #qualificacaodovendedor h3{
	font-size: 12px;
	color: #6f6f6f;
}
#container .produto .primeiro-nivel #informacoesproduto #qualificacaodovendedor ol.estrelinhas{
	width: 100px;
	margin-top: 5px;
	overflow: hidden;
	float: left;
}
#container .produto .primeiro-nivel #informacoesproduto #qualificacaodovendedor .quantidade{
	float: left;
	display: block;
	margin-top: 9px;
	margin-left: 15px;
}
#container .produto #segundo-nivel{
	margin-top: 20px;
	clear: both;
	float: left;
	margin-right: -18px;
	width: 658px;
}
#container .produto #segundo-nivel #comprasegura{
	background-color: #f2f2f2;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	overflow: hidden;
}
#container .produto #segundo-nivel #comprasegura h2{
	font-family: 'futura_hv_btheavy';
	font-size: 14px;
	color: #727272;
	clear: both;
	margin-bottom: 10px;
}
#container .produto #segundo-nivel #comprasegura .entrega .icon{
	width: 45px;
	height: 37px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: 0px -452px;
	float: left;
	margin-top: 5px;
	margin-right: 10px;
}
#container .produto #segundo-nivel #comprasegura .compraprotegida .icon{
	width: 37px;
	height: 39px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -57px -452px;
	float: left;
	margin-top: 5px;
	margin-right: 10px;
}
#container .produto #segundo-nivel #comprasegura .entrega,
#container .produto #segundo-nivel #comprasegura .compraprotegida{
	float: left;
	width: 300px;
}
#container .produto #segundo-nivel #comprasegura .compraprotegida{
	margin-left: 30px;
}
#container .produto #segundo-nivel #comprasegura .entrega h3,
#container .produto #segundo-nivel #comprasegura .compraprotegida h3{
	font-size: 11px;
	color: #727272;
	margin-bottom: 5px;
}
#container .produto #segundo-nivel #comprasegura .entrega p,
#container .produto #segundo-nivel #comprasegura .compraprotegida p{
	font-size: 10px;
	font-weight: normal;
}
#container .produto #segundo-nivel #outrosprodutos{
	float: left;
	clear: both;
	margin-top: 20px;
}
#container .produto #segundo-nivel #outrosprodutos h2{
	font-size: 14px;
}
#container .produto #segundo-nivel #outrosprodutos ul.produtos{
	display: block;
	margin-top: 10px;
}
#container .produto #segundo-nivel #outrosprodutos ul.produtos li{
	width: 90px;
	height: 90px;
	float: left;
	margin-right: 20px;
}
#container .produto #segundo-nivel #outrosprodutos ul.produtos li:last-child{
	margin-right: 0px;
}
/* 
*******************************
       CHECKOUT
*******************************
*/
#container .checkout h2{
	color: #c51265;
	font-family: 'futura_hv_btheavy', Arial;
	font-size: 22px;
}
#container .checkout .barradecompras{
	height: 25px;
	background-color: #b2b2b3;
	padding-top: 10px;
	width: 960px;
	margin-left: -22px;
}
#container .checkout .barradecompras .passoapasso{
	float: left;
	padding-left: 65px;
	padding-right: 65px;
}
#container .checkout .barradecompras .passoapasso a{
	color: #fff;
	font-family: 'futura_hv_btheavy', Arial;
	font-size: 14px;
}
#container .checkout .barradecompras .passoapasso a:hover{
	text-decoration: underline;
}
#container .checkout table{
	margin-left: -22px;
	margin-top: 20px;
	width: 960px;
	border-bottom: 1px solid #f0f0f0;
}
#container .checkout table tr.pedidosvendedor{
	background-color: #f7f7f7;
	line-height: 30px;
}
#container .checkout table tr.pedidosvendedor td{
	padding-left: 10px;
}
#container .checkout table tr.pedidosvendedor td a{
	color: #757779;
}
#container .checkout table tr.barracolunas{
	background-color: #f0f0f0;
}
#container .checkout table tr.barracolunas td{
	text-align: center;
	line-height: 30px;
}
#container .checkout table tr.barracolunas td.produto{
	width: 355px;
}
#container .checkout table tr.barracolunas td.precoindividual,
#container .checkout table tr.barracolunas td.quantidade,
#container .checkout table tr.barracolunas td.subtotal{
	width: 145px;
}
#container .checkout table tr.barracolunas td.frete{
	width: 170px;
}
#container .checkout table tr.informacoes td{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
#container .checkout table tr.informacoes td.fotoetitulo{
	text-align: left;
	padding-left: 10px;
} 
#container .checkout table tr.informacoes td.fotoetitulo img{
	width: 90px;
	height: 90px;
	float: left;
}
#container .checkout table tr.informacoes td.fotoetitulo h3{
	font-size: 11px;
	color: #b2b2b3;
	float: left;
	width: 230px;
	margin-left: 10px;
	margin-top: 5px;
}
#container .checkout table tr.informacoes td.quantidade .mascaradequantidade{
	width: 50px;
	line-height: 27px;
	margin: 0 auto;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -377px -194px;
	text-align: left;
	padding-left: 16px;
	cursor: pointer;
}
#container .checkout table tr.informacoes td.quantidade select#quantidade{
	position: absolute;
	z-index: 9999999;
	margin-top: -23px;
	margin-left: 30px;
	width: 80px;
	opacity:0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}
#container .checkout table tr.informacoes td.quantidade .excluir{
	width: 21px;
	height: 22px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -32px -496px;
	text-indent: -99999px;
	margin: 0 auto;
	margin-top: 10px;
	cursor: pointer;
}
#container .checkout table tr.informacoes td.correios .mascaratipodefrete{
	width: 135px;
	line-height: 27px;
	margin: 0 auto;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -292px -194px;
	text-align: left;
	padding-left: 16px;
	cursor: pointer;
}
#container .checkout table tr.informacoes td.correios select#tipodefrete{
	position: absolute;
	z-index: 9999999;
	margin-top: -23px;
	margin-left: 30px;
	width: 140px;
	opacity:0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}
#container .checkout table tr.informacoes td.correios p{
	margin-top: 10px;
	font-size: 10px;
}
#container .checkout #subtotal-geral{
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
	clear: both;
	overflow: hidden;
}
#container .checkout #final{
	clear: both;
	overflow: hidden;
	border-top: 1px solid #f0f0f0;
}
#container .checkout #final .left{
	width: 450px;
	padding-top: 20px;
	padding-left: 10px;
	overflow: hidden;
	float: left;
}
#container .checkout #final .left .cep{
	float: left;
}
#container .checkout #final .left .cep form label{
	font-weight: bold;
}
#container .checkout #final .left .cep form input#cep{
	background-color: #f7f7f7;
	border: 1px solid #dadada;
	color: #a9a9a9;
	height: 25px;
	width: 200px;
	padding-left: 10px;
}
#container .checkout #final .left .cep a{
	clear: both;
	margin-left: 32px;
	margin-top: 5px;
	float: left;
	color: #b2b2b3;
}
#container .checkout #final .left .cep p{
	clear: both;
	margin-left: 32px;
	margin-top: 5px;
	font-size: 10px;
}
#container .checkout #final .left .cupom{
	float: left;
	margin-left: 80px;
}
#container .checkout #final .left .cupom strong{
	float: left;
	margin-top: 7px;
	margin-right: 10px;
}
#container .checkout #final .left .cupom .botao.adicionarcupom{
	width: 130px;
	height: 30px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -1px -971px;
	text-indent: -99999px;
	float: left;
	overflow: hidden;
}
#container .checkout #final .left .cupom .botao.adicionarcupom a{
	display: block;
	overflow: hidden;
	height: 30px;
}
#container .checkout #final .left .cupom p{
	font-size: 10px;
	clear: both;
	margin-top: 40px;
}
#container .checkout #final .right{
	float: left;
	padding-left: 20px;
	margin-top: 5px;
	width: 430px;
	border-left: 1px solid #f0f0f0;
	overflow: hidden;
}
#container .checkout #final .right table{
	width: 430px;
	margin-left: 0px;
	margin-top: 0px;
	border-bottom: 0px
}
#container .checkout #final .right table td{
	padding-left: 10px;
}
#container .checkout #final .right table tr.cabecalho td{
	height: 35px;
}
#container .checkout #final .right table td.linha{
	width: 430px;
	height: 1px;
	background-color: #ccc;
}
#container .checkout #final .right table tr.produto td{
	line-height: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#container .checkout #final .moip-e-total{
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	overflow: hidden;
	clear: both;
	float: left;
	margin-top: 5px;
	background-color: #fcf3f7;
}
#container .checkout #final .moip-e-total .left,
#container .checkout #final .moip-e-total .right{
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
}
#container .checkout #final .moip-e-total .right{
	margin-top: 0px;
}
#container .checkout #final .moip-e-total .left .formadepagamento,
#container .checkout #final .moip-e-total .left .siteprotegido{
	float: left;
	margin-left: 10px;
}
#container .checkout #final .moip-e-total .left .siteprotegido{
	margin-left: 100px;
}
#container .checkout #final .moip-e-total .left .formadepagamento h2,
#container .checkout #final .moip-e-total .left .siteprotegido h2{
	font-size: 11px;
	color: #b2b2b3;
	font-family: Verdana;
}
#container .checkout #final .moip-e-total .left .formadepagamento .iconmoip,
#container .checkout #final .moip-e-total .left .siteprotegido .iconmoip{
	width: 94px;
	height: 51px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -205px -7px;
	text-indent: -9999px;
	margin: 0 auto;
	margin-top: 5px;
}
#container .checkout .botao.continuarcomprando{
	float: left;
	width: 235px;
	height: 53px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -200px -917px;
	text-indent: -99999px;
	margin-top: 20px;
}
#container .checkout .botao.continuarcomprando a{
	display: block;
	overflow: hidden;
	height: 53px;
}
#container .checkout .botao.finalizar{
	float: right;
	width: 197px;
	height: 53px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: 1px -917px;
	text-indent: -99999px;
	margin-top: 20px;
	margin-right: 10px;
	border:0;
	cursor:pointer;
}
#container .checkout .botao.finalizar a{
	display: block;
	overflow: hidden;
	height: 53px;
}

/* 
*******************************
       MINHA VITRINE
*******************************
*/
#container .minhavitrine h2{
	color: #c51265;
	font-family: 'futura_hv_btheavy', Arial;
	font-size: 22px;
}
#container .minhavitrine .barradevitrinemenu{
	height: 25px;
	background-color: #b2b2b3;
	padding-top: 10px;
	width: 960px;
	margin-left: -22px;
}
#container .minhavitrine .barradevitrinemenu .passoapasso{
	float: left;
	padding-left: 27px;
	padding-right: 27px;
}
#container .minhavitrine .barradevitrinemenu .passoapasso a{
	color: #fff;
	font-family: 'futura_hv_btheavy', Arial;
	font-size: 14px;
	text-transform: uppercase;
}
#container .minhavitrine .barradevitrinemenu .passoapasso a:hover{
	text-decoration: underline;
}
#container .minhavitrine #sidebar{
	width: 175px;
	margin-top: 20px;
	float: left;
}
#container .minhavitrine #sidebar .avatar{
	width: 171px;
	height: 215px;
	border: 2px solid #e9e9e9;
	background-color: #f7f7f7;
}
#container .minhavitrine #sidebar h3.nome{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 30px;
	overflow: hidden;
	clear: both;
	color: #9ea0a1;
}
#container .minhavitrine #sidebar .retangulorosa{
	width: 175px;
	height: 47px;
	background-color: #c51265;
	margin-top: 10px;
	color: #fff;
}
#container .minhavitrine #sidebar .retangulorosa .numero{
	float: left;
	font-size: 22px;
	margin-left: 15px;
	margin-top: 10px;
}
#container .minhavitrine #sidebar .retangulorosa .traco{
	float: left;
	width: 1px;
	height: 37px;
	margin-top: 5px;
	background-color: #fff;
	margin-left: 10px;
	margin-bottom: 10px;
}
#container .minhavitrine #sidebar .retangulorosa .texto{
	float: left;
	text-align: left;
	margin-top: 7px;
	margin-left: 10px;
	font-size: 13px;
}
#container .minhavitrine #sidebar .avaliacao{
	float: left;
	clear: both;
	margin-top: 20px;
	text-align: center;
	width: 175px;
	background-color: #eaeeef;
	padding-top: 10px;
	padding-bottom: 10px;
}
#container .minhavitrine #sidebar .avaliacao .qualificacao{
	color: #6f6f6f;
	font-weight: bold;
}
#container .minhavitrine #sidebar .avaliacao ul.estrelinhas{
	width: 100px;
	height: 20px;
	margin: 0 auto;
	margin-top: 8px;
	margin-bottom: 8px;
	overflow: hidden;
	clear: both;
}
#container .minhavitrine #sidebar .avaliacao ul.estrelinhas li {  
    background: url('../images/estrelinhas.jpg') no-repeat;  
    display: block;  
    height: 20px;  
    width: 20px;  
    float: left;
    padding: 0;
    border: 0;
}  
#container .minhavitrine #sidebar .avaliacao ul.estrelinhas li.active {  
    background-position: left -45px;  
}
#container .minhavitrine #sidebar #origemdoproduto{
	clear: both;
	float: left;
	text-align: center;
	width: 100%;
	margin-top: 20px; 
}
#container .minhavitrine #sidebar #origemdoproduto h3{
	font-size: 12px;
	color: #6f6f6f;
}
#container .minhavitrine #sidebar #origemdoproduto .retangulo{
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #999;
	text-align: center;
	font-size: 14px;
	color: #fff;
	font-family: 'futura_hv_btheavy';
	text-transform: uppercase;
	margin-top: 5px;
}
#container .minhavitrine #main,
#container .minhavitrine #right{
	float: left !important;
	margin-top: 20px;
	margin-left: 20px;
	width: 730px!important;
}
#container .minhavitrine #right ul.prateleira{
	width: 730px!important;
	margin-left: -55px;
}
#container .minhavitrine #right ul.prateleira li{
	margin-left: 53px;
}
#container .minhavitrine #main h2{
	font-size: 25px;
}
#container .minhavitrine #main h3{
	color: #d8679c;
	font-family: 'futura_hv_btheavy';
	font-size: 20px;
}
#container .minhavitrine #main p{
	clear: both;
	margin-top: 20px;
	color: #9f9f9f;
}
#container .minhavitrine #main p a{
	color: #9f9f9f;
	text-decoration: underline;
}
#container .minhavitrine.moip h1{
	font-size: 17px;
}
#container .minhavitrine.moip h3{
	margin-top: 20px;
}
#container .minhavitrine.moip p{
	margin-top: 5px;
	font-size: 11px;
}
#container .minhavitrine.moip .acessomoip{
	clear: both;
	float: left;
	margin-bottom: 40px;
	margin-top: 40px;
}
#container .minhavitrine.moip .acessomoip .left{
	float: left;
	width: 365px;
}
#container .minhavitrine.moip .acessomoip .left .icon{
	width: 94px;
	height: 51px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -205px -7px;
	margin-bottom: 10px;
}
#container .minhavitrine.moip .acessomoip .left input[type="text"]{
	width: 260px;
	height: 20px;
}
#container .minhavitrine.moip .acessomoip .left .trocar{
	float: right;
	margin-right: 2px;
	margin-top: 5px;	
}
#container .minhavitrine.moip .acessomoip .left .trocar a{
	color: #6f6f6f;
	font-size: 11px;
	font-family: Verdana;
}
#container .minhavitrine.moip .acessomoip .right{
	float: right;
	width: 255px;
	text-align: right;
	margin-left: 80px;
}
#container .minhavitrine.moip .acessomoip .right .emailencontrado{
	border: 1px solid #dadada;
	background-color: #fdffe5;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	margin-top: 25px;
}
#container .minhavitrine.moip .acessomoip .right .emailencontrado .ok{
	width: 35px;
	height: 35px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: 0px -522px;
	margin: 0 auto;
	margin-top: 10px;
}
#container .minhavitrine.meusdados form{
	display: block;
	overflow: hidden;
	margin-top: 20px;
}
#container .minhavitrine.meusdados .envolveasinputs{
	clear: both;
	overflow: hidden;
	margin-top: 10px;
}
#container .minhavitrine.meusdados input[type="text"]{
	background-color: #f7f7f7;
	border: 1px solid #dadada;
	color: #a9a9a9;
	height: 25px;
	padding-left: 10px;
}
#container .minhavitrine.meusdados input#nome{
	width: 715px;
}
#container .minhavitrine.meusdados input#datadenascimento,
#container .minhavitrine.meusdados input#cep,
#container .minhavitrine.meusdados input#telefone,
#container .minhavitrine.meusdados input#celular{
	width: 150px;
	float: left;
}
#container .minhavitrine.meusdados input#numero,
#container .minhavitrine.meusdados input#complemento,
#container .minhavitrine.meusdados input#bairro{
	width: 213px;
}
#container .minhavitrine.meusdados input#endereco{
	width: 530px;
}
#container .minhavitrine.meusdados input#celular,
#container .minhavitrine.meusdados input#endereco,
#container .minhavitrine.meusdados input#complemento,
#container .minhavitrine.meusdados input#bairro{
	margin-left: 20px;
}
#container .minhavitrine.meusdados select.sexo,
#container .minhavitrine.meusdados .filhos table select.sexofilho{
	height: 25px;
	width: 135px;
	position: absolute;
	z-index: 9999999;
	margin-left: -285px;
	margin-top: 5px;
	opacity:0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}
#container .minhavitrine.meusdados select.sexo{
	margin-left: -128px;
}
#container .minhavitrine.meusdados select.uf{
	width: 70px;
	height: 25px;
	margin-left: -71px;
	margin-top: 5px;
	position: absolute;
	cursor: pointer;
	opacity:0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
#container .minhavitrine.meusdados select.cidade{
	width: 180px;
	height: 25px;
	position: absolute;
	margin-left: -180px;
	margin-top: 5px;
	cursor: pointer;
	opacity:0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
#container .minhavitrine.meusdados .mascaraselectsexo,
#container .minhavitrine.meusdados .mascaraselectuf,
#container .minhavitrine.meusdados .mascaraselectcidade,
#container .minhavitrine.meusdados .filhos table .mascaraselectsexofilho{
	width: 115px;
	height: 19px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -327px -98px;
	float: left;
	border: 1px solid #dadada;
	margin-top: 0px;
	margin-left: 20px;
	color: #a9a9a9;
	z-index: 99;
	cursor: pointer;
	font-size: 11px;
	font-family: Arial;
	text-align: left;
	padding-left: 10px;
	padding-top: 8px;
	overflow: hidden;
	float: left;
}
#container .minhavitrine.meusdados .mascaraselectuf{
	width: 60px;
	background-position: -382px -98px;
	margin-left: 3px;
	cursor: pointer;
}
#container .minhavitrine.meusdados .mascaraselectcidade{
	width: 170px;
	margin-left: 10px;
	background-position: -263px -194px;
	cursor: pointer;
}
#container .minhavitrine.meusdados label.cpf{
	float: left;
	margin-left: 20px;
	margin-top: 7px;
}
#container .minhavitrine.meusdados .filhos{
	overflow: hidden;
	clear: both;
	margin-top: 40px;
}
#container .minhavitrine.meusdados .filhos .mensagemtabela{
	clear: both;
	overflow: hidden;
	position: absolute;
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
}
#container .minhavitrine.meusdados .filhos table{
	margin-top: 20px;
	clear: both;
	overflow: hidden;
}
#container .minhavitrine.meusdados .filhos table tbody tr{
	margin-bottom: 20px;
	overflow: hidden;
	clear: both;
	display: block;
}
#container .minhavitrine.meusdados .filhos table tbody tr:first-child input#remove{
	display: none;
}
#container .minhavitrine.meusdados .filhos table input#nome{
	width: 300px;
}
#container .minhavitrine.meusdados .filhos table input#datadenascimento{
	width: 150px;
	margin-left: 20px;
}
#container .minhavitrine.meusdados .filhos table select.sexofilho{
	margin-left: -132px;
}
#container .minhavitrine.meusdados .filhos table input#add{
	width: 24px;
	height: 24px;
	background-image: url('../images/iconadicionar.png');
	background-repeat: no-repeat;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	margin-left: 100px;
	position: absolute;
	margin-top: -40px;
}
#container .minhavitrine.meusdados .alterarsenha{
	clear: both;
	margin-top: 20px;
}
#container .minhavitrine.meusdados .alterarsenha input[type="password"]{
	background-color: #f7f7f7;
	border: 1px solid #dadada;
	color: #a9a9a9;
	height: 25px;
	width: 150px;
	margin-top: 20px;
	margin-bottom: 60px;
	margin-right: 20px;
	padding-left: 10px;
}
#container .minhavitrine.meusdados .alterarsenha .confirmarsenha,
#container .teladelogin .esqueciminhasenha{ 
	height: 80px;
	width: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -180px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 60px;
	padding-left: 60px;
	background-color: #fff;
	border: 3px dotted #c51265;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	z-index: 99999999;
	display: none;
}
#container .teladelogin .esqueciminhasenha input[type="text"]{
	margin-top: 15px;
	height: 20px;
	width: 150px;
}
#container .minhavitrine.meusdados .alterarsenha .confirmarsenha .close,
#container .teladelogin .esqueciminhasenha .close{
	width: 42px;
	height: 42px;
	text-indent: -99999px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -410px 0; 
	position: absolute;
	margin-left: 320px;
	margin-top: -30px;
	cursor: pointer;
}
#container .minhavitrine.meusdados .alterarsenha .confirmarsenha .mensagemdeerro,
#container .teladelogin .esqueciminhasenha .mensagemdeerro{ 
	color: red;
	display: none;
}
#container .minhavitrine.meusdados .alterarsenha .confirmarsenha .sucesso,
#container .teladelogin .esqueciminhasenha .sucesso{
	display: none;
}
#container .minhavitrine.meusdados .alterarsenha .confirmarsenha .sucesso .iconcorreto,
#container .teladelogin .esqueciminhasenha .sucesso .iconcorreto{
	width: 35px;
	height: 35px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: 0px -522px;
	float: left;
	margin-top: 20px;
	margin-left: 30px;
}
#container .minhavitrine.meusdados .alterarsenha .confirmarsenha .sucesso .mensagemsucesso,
#container .teladelogin .esqueciminhasenha .sucesso .mensagemsucesso{
	float: left;
	color: green;
	margin-top: 30px;
	margin-left: 10px;
}
#container .minhavitrine.meusdados form input#salvar,
#container .minhavitrine.moip input#salvar{
	width: 230px;
	height: 60px;
	border: 0;
	padding: 0;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -516px -1004px;
	background-color: transparent;
	text-indent: -99999px;
	margin: 0 auto;
	cursor: pointer;
	display: block;
	margin-top: 20px;
	overflow: hidden;
}
#container .minhavitrine.meusdados .filhos table input#remove{
	width: 24px;
	height: 24px;
	background-image: url('../images/iconremover.png');
	background-repeat: no-repeat;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	margin-left: 20px;
}
#container .minhavitrine.minhascompras ul.produtos,
#container .minhavitrine.minhasvendas ul.produtos,
#container .resultadodebusca ul.produtos{
	display: block;
	overflow: hidden;
	margin-top: 20px;
}
#container .minhavitrine.minhascompras ul.produtos li,
#container .minhavitrine.minhasvendas ul.produtos li,
#container .resultadodebusca ul.produtos li{
	clear: both;
	margin-bottom: 20px; 
	background-color: #fbfbfb;
	overflow: hidden;
	padding: 5px;
}
#container .minhavitrine.minhascompras ul.produtos li .foto,
#container .minhavitrine.minhasvendas ul.produtos li .foto,
#container .resultadodebusca ul.produtos li .foto{
	float: left;
	width: 90px;
	height: 90px;
	margin-right: 10px;
}
#container .minhavitrine.minhascompras ul.produtos li .meio,
#container .minhavitrine.minhasvendas ul.produtos li .meio,
#container .resultadodebusca ul.produtos li .meio{
	width: 470px;
	float: left;
}
#container .minhavitrine.minhascompras ul.produtos li .meio h2,
#container .minhavitrine.minhasvendas ul.produtos li .meio h2,
#container .resultadodebusca ul.produtos li .meio h2{
	font-size: 14px;
	color: #881b4d;
}
#container .minhavitrine.minhascompras ul.produtos li .meio .ref,
#container .minhavitrine.minhasvendas ul.produtos li .meio .ref,
#container .resultadodebusca ul.produtos li .meio .ref{
	color: #d4d4d4;
	font-size: 9px;
}
#container .minhavitrine.minhascompras ul.produtos li .meio #preco,
#container .minhavitrine.minhasvendas ul.produtos li .meio #preco,
#container .resultadodebusca ul.produtos li .meio #preco{
	float: left;
	margin-top: 20px;
	overflow: hidden;
}
#container .minhavitrine.minhascompras ul.produtos li .meio #preco .de,
#container .minhavitrine.minhasvendas ul.produtos li .meio #preco .de,
#container .resultadodebusca ul.produtos li .meio #preco .de{
	color: #9a9a9a;
	font-size: 12px;
}	
#container .minhavitrine.minhascompras ul.produtos li .meio #preco .de span,
#container .minhavitrine.minhasvendas ul.produtos li .meio #preco .de span,
#container .resultadodebusca ul.produtos li .meio #preco .de span{
	text-decoration: line-through;
}
#container .minhavitrine.minhascompras ul.produtos li .meio #preco .atual,
#container .minhavitrine.minhasvendas ul.produtos li .meio #preco .atual,
#container .resultadodebusca ul.produtos li .meio #preco .atual{
	color: #6f6f6f;
	font-size: 12px;
}
#container .minhavitrine.minhascompras ul.produtos li .meio #preco .atual span,
#container .minhavitrine.minhasvendas ul.produtos li .meio #preco .atual span,
#container .resultadodebusca ul.produtos li .meio #preco .atual span{
	font-size: 16px;
	font-weight: bold;
}
#container .minhavitrine.minhascompras ul.produtos li .direita,
#container .minhavitrine.minhasvendas ul.produtos li .direita{
	float: right;
	width: 60px;
}
#container .minhavitrine.minhascompras ul.produtos li .direita #adorei,
#container .minhavitrine.minhasvendas ul.produtos li .direita #adorei{
	width: 60px;
	float: right;
	margin-top: 10px;
	text-align: center;
}
#container .minhavitrine.minhascompras ul.produtos li .direita #adorei span,
#container .minhavitrine.minhasvendas ul.produtos li .direita #adorei span{
	color: #6f6f6f;
	font-size: 10px;
}
#container .minhavitrine.minhascompras ul.produtos li .direita #adorei .like,
#container .minhavitrine.minhasvendas ul.produtos li .direita #adorei .like{
	height: 35px;
	margin-top: 2px;
	margin-bottom: 2px;
	cursor: pointer;
	background-color: #881b4d;
}
#container .minhavitrine.minhascompras ul.produtos li .direita #adorei .like .icon,
#container .minhavitrine.minhasvendas ul.produtos li .direita #adorei .like .icon{
	width: 23px;
	height: 20px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: 0px -496px;
	margin: 0 auto;
	position: relative;
	top: 7px;
}
#container .minhavitrine.minhascompras ul.produtos li #avalievendedor,
#container .minhavitrine.minhascompras ul.produtos li #recebeuoproduto{
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100px;
	height: 40px;
	overflow: hidden;
	float: left;
	background-color: #f6f6f6;
	margin-left: 20px;
	margin-top: 10px;
}
#container .minhavitrine.minhascompras ul.produtos li #avalievendedor span,
#container .minhavitrine.minhascompras ul.produtos li #recebeuoproduto span{
	font-size: 10px;
	text-align: center;
	width: 100px;
	display: block;
}
#container .minhavitrine.minhascompras ul.produtos li #avalievendedor ol.estrelinhas li{
	clear: none;
	padding: 0;
}
#container .minhavitrine.minhascompras ul.produtos li #recebeuoproduto .sim,
#container .minhavitrine.minhascompras ul.produtos li #recebeuoproduto .nao{
	width: 25px;
	height: 22px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	float: left;
	text-indent: -99999px;
	margin-top: 3px;
}
#container .minhavitrine.minhascompras ul.produtos li #recebeuoproduto .sim{
	background-position: -344px 0;
	margin-left: 15px;
}
#container .minhavitrine.minhascompras ul.produtos li #recebeuoproduto .nao{
	background-position: -380px 0;
	margin-left: 10px;
}
#container .minhavitrine.minhascompras ul.produtos li #recebeuoproduto .sim a,
#container .minhavitrine.minhascompras ul.produtos li #recebeuoproduto .nao a{
	display: block;
	overflow: hidden;
	height: 22px;
}
#container .minhavitrine.minhasvendas ul.produtos li .meio #rastreamento{
	float: right;
	margin-top: 20px;
	cursor: pointer;
}
#container .minhavitrine.minhasvendas ul.produtos li .meio #rastreamento .icon{
	width: 45px;
	height: 37px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: 0px -452px;
	float: left;
}
#container .minhavitrine.minhasvendas ul.produtos li #rastreamento .tooltip-rastreamento {
	display: none;
	position: absolute;
	width: 231px;
	height: 140px;
	background-image: url('../images/tooltip-rastreamento.png');
	background-repeat: no-repeat;
	margin-top: -155px;
	margin-left: -105px;
	z-index: 99999999;
	padding: 10px;
}
#container .minhavitrine.minhasvendas ul.produtos li .meio #rastreamento:hover .tooltip-rastreamento{
	display: block;
}
#container .minhavitrine.minhasvendas ul.produtos li #rastreamento .tooltip-rastreamento div.data,
#container .minhavitrine.minhasvendas ul.produtos li #rastreamento .tooltip-rastreamento div.numero{
	font-size: 11px;
	font-family: Verdana;
	color: #848484;
	text-align: center;
	margin-bottom: 5px;
}
#container .minhavitrine.minhasvendas ul.produtos li #rastreamento .tooltip-rastreamento div.numero{
	margin-top: 10px;
}
#container .minhavitrine.minhasvendas ul.produtos li #rastreamento .tooltip-rastreamento input[type="text"]{
	height: 20px;
	width: 216px;
	padding-left: 10px;
}
#container .minhavitrine.minhasvendas ul.produtos li #rastreamento .tooltip-rastreamento input[type="submit"]{
	width: 123px;
	height: 30px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: -270px -224px;
	border: 0px;
	padding: 0px;
	margin-top: 5px;
	margin-left: 55px;
	text-indent: -99999px;
	cursor: pointer;
}
#container .minhavitrine.minhasvendas ul.produtos li .flag-nunca-usado-thumb,
#container .resultadodebusca ul.produtos li .flag-nunca-usado-thumb{
	width: 94px;
	height: 92px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	position: absolute;
	z-index: 9999999999999;
	margin-top: -4px;
	margin-left: -4px;
	text-indent: -99999px;
	background-position: -246px -670px;
}
#container .minhavitrine.minhasvendas ul.produtos li .direita #editar{
	width: 90px;
	height: 26px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -352px -144px;
	float: right;
	margin-top: 18px;
}
#container .minhavitrine.minhasvendas ul.produtos li .direita #editar a{
	text-indent: -999999px;
	display: block;
	overflow: hidden;
	cursor: pointer;
	height: 26px;
}
#container .minhavitrine.minhasvendas ul.produtos li .direita #close{
	width: 21px;
	height: 22px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -32px -496px;
	text-indent: -99999px;
	margin: 0 auto;
	float: left;
	margin-top: 10px;
	margin-left: 7px;
	cursor: pointer;
	clear: both;
}
#container .minhavitrine.favoritos #right ul.prateleira li .close{
	width: 42px;
	height: 42px;
	text-indent: -99999px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -410px 0; 
	position: absolute;
	margin-top: -20px;
	margin-left: 165px;
	cursor: pointer;
	clear: both;
}

/* 
*******************************
       ESTRELINHAS
*******************************
*/
ol.estrelinhas{
	width: 100px;
	margin-top: 5px;
	overflow: hidden;
	float: left;
}
ol.estrelinhas li {  
    background: url('../images/estrelinhas.jpg') no-repeat;  
    display: block;  
    height: 20px;  
    width: 20px;  
    cursor: pointer;  
    float: left;
    padding: 0;
    border: 0;
}  
ol.estrelinhas li.active {  
    background-position: left -45px;  
}

/* 
*******************************
       FOOTER
*******************************
*/
#container #footer{
	clear: both;
	border-top: 1px solid #e5e5e5;
	margin-left: -5px;
	position: relative;
	top: 20px;
	overflow: hidden;
}
#container #footer ul.menufooter{
	display: block;
	/*clear: both;*/
	margin-top: 20px;
	margin-left: 150px;
}
#container #footer ul.menufooter li{
	float: left;
	margin-right: 40px;	
}
#container #footer ul.menufooter li a{
	color: #b2b2b2;
	font-family: Verdana;
	font-size: 14px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
#container #footer ul.menufooter li a:hover,
#container #footer ul.menufooter li a.ativo{
	border-bottom: 4px solid #c51265;
}
#container #footer p{
	display: block;
	clear: both;
	font-size: 10px;
	font-family: Verdana;
	padding-top: 20px;
	width: 880px;
	margin: 0 auto;
	color: #b2b2b2;
}
#container #footer .subfooter{
	clear: both;
	padding-top: 40px;
	width: 880px;
	margin: 0 auto;
	overflow: hidden;
}
#container #footer .subfooter .moip{
	width: 94px;
	height: 51px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	background-position: -205px -7px;
	float: left;
}
#container #footer .subfooter ul.formas-de-pagamento{
	display: block;
	float: left;
	margin-left: 100px;
	margin-top: 20px;
}
#container #footer .subfooter ul.formas-de-pagamento li{
	float: left;
	width: 44px;
	height: 27px;
	background-image: url('../images/sprite-geral.png');
	background-repeat: no-repeat;
	margin-right: 10px;
	text-indent: -9999999px;
}
#container #footer .subfooter ul.formas-de-pagamento li.formas{
	background-image: none;
	position: absolute;
	width: 400px;
	margin-top: -20px;
	margin-right: 0px;
	text-indent: 0px;
	font-family: Verdana;
	font-size: 11px;
	color: #666666;
}
#container #footer .subfooter ul.formas-de-pagamento li.master{
	background-position: 0px -63px;
}
#container #footer .subfooter ul.formas-de-pagamento li.visa{
	background-position: -50px -63px;
}
#container #footer .subfooter ul.formas-de-pagamento li.diners{
	background-position: -100px -63px;
}
#container #footer .subfooter ul.formas-de-pagamento li.amex{
	background-position: -150px -63px;
}
#container #footer .subfooter ul.formas-de-pagamento li.bb{
	background-position: -200px -63px;
}
#container #footer .subfooter ul.formas-de-pagamento li.itau{
	background-position: -250px -63px;
}
#container #footer .subfooter ul.formas-de-pagamento li.bradesco{
	background-position: -300px -63px;
}
#container #footer .subfooter ul.formas-de-pagamento li.boleto{
	background-position: -350px -63px;
}
#container #footer .subfooter .certificados{
	text-align: center;
	font-size: 11px;
	font-family: verdana;
	color: #666666;
}
#container #footer .copyright-politica-e-termo{
	width: 880px;
	margin: 0 auto;
	padding-top: 40px;
	clear: both;
	overflow: hidden;
}
#container #footer .copyright-politica-e-termo .copyright{
	float: left;
	font-family: Verdana;
	font-size: 11px;
	color: #666666;
}
#container #footer .copyright-politica-e-termo ul.politica-e-termo{
	display: block;
	float: right;
}
#container #footer .copyright-politica-e-termo ul.politica-e-termo li{
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}
#container #footer .copyright-politica-e-termo ul.politica-e-termo li:first-child{
	border-right: 1px solid #666666;
}
#container #footer .copyright-politica-e-termo ul.politica-e-termo li a{
	font-family: Verdana;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
}
#container #footer .copyright-politica-e-termo ul.politica-e-termo li a:hover{
	text-decoration: underline;
}

strong.accordion{cursor: pointer;}
div.accordion{display: none;}

.input{
	background-color: #f7f7f7;
	border: 1px solid #dadada;
	color: #a9a9a9;
	height: 25px;
	padding-left: 10px;
}






