/**
* Caption Styles
**/

.royalSlide img {
	width: 960px;
    height: 305px;
	float: left;
}
.royalSlider .caption-default {	
	font-family:Georgia, serif;		
	background: #000;	
	color: #FFF;
	padding:10px 15px;
	font-size: 26px;
	line-height: 1em;
	white-space:nowrap;
}
.royalSlider .caption-text-block {	
	font: 15px Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1.625;
	background: #000;	
	color: #FFF;
	padding:10px 15px;
	margin:0;		
}
.royalSlider .caption-white {
	font-family: Futura, Arial, sans-serif;	
	font-size: 17px;	
	background: rgb(230, 230, 230);	
	background: rgba(255,255,255,0.7);	
	color: #444;
	padding: 0 10px;
	line-height: 35px;	
}
.royalSlider .caption-sea-wave {
	font-family:'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;		
	background: rgb(0,160,140);
	background:rgba(0,160,140,0.8);
}
.royalSlider .caption-no-bg {
	font: 15px Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1.625;	
	color: #FFF;
	padding:10px 15px;
	margin:0;	
	background:none;	
}

.royalSlider .grab-cursor{cursor:move;}
.royalSlider .grab-cursor{cursor:url("../images/i-slider/grab.png") 8 8,-moz-grab;}
.royalSlider .grab-cursor{*cursor:url(../images/i-slider/grab.cur);}
.royalSlider .grab-cursor{cursor:move\0/;} /* ie8 hack */

.royalSlider .grabbing-cursor{cursor:move;}
.royalSlider .grabbing-cursor{cursor:url("../images/i-slider/grabbing.png") 8 8,-moz-grabbing;}
.royalSlider .grabbing-cursor{*cursor:url(../images/i-slider/grabbing.cur);}


/* Cursor used if mouse dragging is disabled */
.royalSlider .auto-cursor{cursor:auto;}

.royalSlider .royalHtmlContent {
	position: absolute;
	top: 0;
	left: 0;
}
.royalSlider .non-draggable {
	cursor: auto;
}

.royalSlider .royalSlideLink {
	left:0;
	top:0;
	position:absolute;
	width:100%;
	height:100%;
	display:block;
}

 /*  
 
 RoyalSlider
 
 */
.royalSlider {	
	width: 960px;
    height: 305px;
    margin: 0 auto;
    left: -2px;
    top: -40px;
    position: relative;
	overflow:hidden;
}



/**
*  Slides area (set background here)
*/

.royalSlider .royalWrapper {
	overflow:hidden;	
	position:relative;
	width:100%; 
	height:100%;
}

/* slides holder, grabbing container */
.royalSlider .royalSlidesContainer {
	position: relative;
	left: 0;
	top: 0;	
	list-style:none;
	margin:0;
	padding:0;
}


/* slide item */
.royalSlider .royalSlide {
	padding:0;
	margin:0;	
	position:relative;
	float:left;	
	overflow:hidden;
}


/* Control navigation container (bullets or thumbs) */
.royalSlider .royalControlNavOverflow {
	overflow:hidden;
	position:absolute;
	margin-top:10px;
	z-index:25;
	margin-left: 870px;
}
/* This container is inside ".royalControlNavContainer"  
   and is used for auto horizontal centering */
.royalSlider .royalControlNavCenterer {	
	float: left;
	position: relative;
	left: -50%;
}
/* Control navigation container*/ 
.royalSlider .royalControlNavContainer {
	float: left;
	position: relative;
	left: 50%;	
}


/* Scrollable thumbnails containers */
.royalSlider .royalControlNavThumbsContainer {		
	left:0;
	position:relative;
}
.royalSlider .thumbsAndArrowsContainer {
	overflow:hidden;
	width: 100%;
	position: relative;
}
.royalSlider .royalControlNavOverflow.royalThumbs {	
	width: auto;
	position: relative;
	overflow: hidden;
	margin-top:4px;	
}






/* 

	Control navigation (bullets, thumbnails)
	
*/
.royalSlider .royalControlNavOverflow a{	
	background-image:url(../images/sprite-geral.png);
	background-repeat:no-repeat;
	background-position: -75px -7px;
	width:14px;
	height:14px;	
	float:left;	
	cursor:pointer;	
	position:relative;
	display:block;
	text-indent: -9999px;	
	margin-right: 5px;
}
/* Current control navigation item */
.royalSlider .royalControlNavOverflow a.current {	
	background-image:url(../images/sprite-geral.png);
	background-repeat:no-repeat;
	width:14px;
	height:14px;
	background-position: -97px -7px;
}


/* Captions container */
.royalSlider .royalCaption {
	width:960px;
	height:98px;
	position:absolute;
	right: 0;
	bottom:0;
	color:#FFF;
}
/* Caption item */
.royalSlider .royalCaptionItemPrimeiro {
	font-family:'gothammediumregular', Arial;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	margin-top: 20px;
	width: 700px;
	margin-left: 70px;
}
.royalSlider .royalCaptionItemSegundo {
	width:700px;
	margin-left:70px;
	padding-top:10px;
	font-family: Arial, Verdana;
	color:#fff;
	float:left;	
	font-size:12px;
	font-weight:normal;
}
/* Loading (welcome) screen */
.royalSlider .royalLoadingScreen {
	background:#FFF;
	width:100%;
	height:100%;
	position:absolute;
	z-index:99;	
}
/* Loading screen text ("Loading...") */
.royalSlider .royalLoadingScreen p {		
	width:100%;
	position:absolute;	
	margin:0 auto;
	top: 45%;
	text-align:center;
}






