/* 
*******************************
       PASSOS li
*******************************
*/
#container{
	overflow: hidden;
}
.checkout .centralizando ul{
	display: block;
	margin-top: 12px;
	margin-left: 12px;
	margin-bottom: 12px;
	overflow: hidden;
}
.checkout .centralizando ul li{
	float: left;
	width: 310px;
}
.checkout .centralizando ul li.ativo .top{
	color: #c51265;
}
.checkout .centralizando ul li.ativo .top .top1{
	background-color: #c51265;
}
.checkout .centralizando ul li .top{
	height: 15px;
	background-image: url('../images/bg_cinza_checkout.jpg');
	background-repeat: repeat-x;
	background-position: center;
}
.checkout .centralizando ul li .top .top1{
	height: 15px;
	width: 280px;
	background-color: #a4a3a3;
}
.checkout .centralizando ul li .top span.passo{
	float: left;
	margin-top: 5px;
} 
.checkout .centralizando ul li .top span.nome{
	float: right;
	margin-top: 5px;
	margin-right: 30px;
}
.checkout .centralizando ul li div.title{
	clear: both;
	margin-top: 50px;
	font-size: 11px;
}
.checkout .centralizando ul li .conteudo{
	width: 258px;
	overflow: hidden;
	margin-top: 10px;
	border: 1px solid #477f94;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
}
.checkout .centralizando ul li .conteudo h2{
	font-size: 15px;
	color: #101213;
	border-bottom: 1px solid #477f94;
	padding-bottom: 5px;
	padding-left: 10px;
	margin-bottom: 20px;
}
.checkout .centralizando ul li .conteudo .left{
	width: 120px;
	height: 50px;
	float: left;
}
.checkout .centralizando ul li .conteudo .right{
	width: 120px;
	height: 50px;
	float: right;
}
.checkout .centralizando ul li .conteudo .both{
	clear: both;
	height: 50px;
}
.checkout .centralizando ul li.passo1 .conteudo .both{
	font-size: 9px;
	color: #101213;
	margin-bottom: 20px;
}
.checkout .centralizando ul li#passo1 .conteudo .both .naoseicep{
	float: right;
	width: 120px;
}
.checkout .centralizando ul li#passo1 .conteudo .both .naoseicep a{
	font-size: 10px;
	margin-top: 5px;
	float: left;
	color: #101213;
	text-decoration: underline;
}
.checkout .centralizando ul li .conteudo .left input[type="text"],
.checkout .centralizando ul li .conteudo .right input[type="text"],
.checkout .centralizando ul li#passo1 .conteudo .both input[type="text"],
.checkout .centralizando ul li .conteudo .left select,
.checkout .centralizando ul li .conteudo .right select{
	width: 111px!important;
	height: 15px!important;
	border: 1px solid #477f94!important;
	padding-left: 5px!important;
	font-size: 11px!important;
	margin-top: 2px!important;
}
.checkout .centralizando ul li#passo2 .conteudo .both select{
	width: 260px!important;
	height: 15px!important;
	border: 1px solid #477f94!important;
	padding-left: 5px!important;
	font-size: 11px!important;
	margin-top: 2px!important;
}	
.checkout .centralizando ul li#passo2 .conteudo select.ano{
	float: left;
	margin-top: 15px!important;
}
.checkout .centralizando ul li#passo2 .conteudo .both input[type="text"]{
	width: 250px!important;
	height: 15px!important;
	border: 1px solid #477f94!important;
	padding-left: 5px!important;
	font-size: 11px!important;
	margin-top: 2px!important;
}	
.checkout .centralizando ul li .conteudo .left label,
.checkout .centralizando ul li .conteudo .right label,
.checkout .centralizando ul li#passo2 .conteudo .both label{
	font-size: 10px;
	display: block;
}
.checkout .centralizando ul li#passo2 .conteudo .both label sup.obrigatorio{
	color: red;
}
.checkout .centralizando ul li#passo1 .conteudo .both label{
	display: inline;
	font-size: 10px;
}
.checkout .centralizando ul li#passo1 .conteudo .both.cep label{
	font-size: 10px;
	display: block;
}
.checkout .centralizando ul li#passo2 .conteudo h2{
	cursor: pointer;
	overflow: hidden;
	width: 250px;
}
.checkout .centralizando ul li#passo2 .conteudo h2 div{
	float: left;
	margin-left: 30px;
}
.checkout .centralizando ul li#passo2 .conteudo h2 input[type="radio"]{
	width: 250px;
	height: 15px;
	position: absolute;
}
.checkout .centralizando ul li#passo2 .conteudo .area{
	display: none;
}
.checkout .centralizando ul li#passo2 .conteudo .boleto a{
	width: 255px;
	height: 60px;
	display: block;
	text-indent: -999999px;
	background-image: url('../images/cartoeseboleto.jpg');
	background-repeat: no-repeat;
	background-position: 0 0;
	margin-bottom: 20px;
}
.checkout .centralizando ul li#passo2 .conteudo ul.bancos li a{
	display: block;
	width: 255px;
	height: 40px;
	text-indent: -999999px;
	background-image: url('../images/cartoeseboleto.jpg');
	background-repeat: no-repeat;
	margin-bottom: 20px;
}
.checkout .centralizando ul li#passo2 .conteudo ul.bancos li.bb a{
	background-position: 0 -65px;
}
.checkout .centralizando ul li#passo2 .conteudo ul.bancos li.itau a{
	background-position: 0 -115px;
}
.checkout .centralizando ul li#passo2 .conteudo ul.bancos li.bradesco a{
	background-position: 0 -165px;
}
.checkout .centralizando ul li#passo3 .conteudo table{
	width: 260px;
}
.checkout .centralizando ul li#passo3 .conteudo table tr{
	border-bottom: 1px solid #477f94;
	padding-bottom: 5px;
	padding-top: 10px;
	display: block;
}
.checkout .centralizando ul li#passo3 .conteudo table tr td.produto{
	font-size: 15px;
	color: #101213;
	font-weight: bold;
	width: 150px;
}
.checkout .centralizando ul li#passo3 .conteudo table tr td.produto .imagemproduto{
	width: 50px;
	height: 50px;
	float: left;
}
.checkout .centralizando ul li#passo3 .conteudo table tr td.produto .imagemproduto img{
	width: 50px;
	height: 50px;
}
.checkout .centralizando ul li#passo3 .conteudo table tr td.produto .nomeproduto{
	font-size: 9px;
	font-weight: normal;
	margin-left: 5px;
	float: left;
}
.checkout .centralizando ul li#passo3 .conteudo table tr td.qtd,
.checkout .centralizando ul li#passo3 .conteudo table tr td.preco{
	color: #101213;
	font-weight: bold;
	width: 50px;
	text-align: center;
}
.checkout .centralizando ul li#passo3 .conteudo table tr td.qtd .numeroqtd,
.checkout .centralizando ul li#passo3 .conteudo table tr td.preco .valorpreco{
	font-size: 9px;
	font-weight: normal;
	text-align: center;
}
.checkout .centralizando ul li#passo3 .conteudo table tr td.primeiro{
	width: 145px;
	font-size: 11px;
	text-align: right;
	padding-right: 15px;
	font-weight: bold;
}
.checkout .centralizando ul li#passo3 .conteudo table tr td.segundo{
	width: 100px;
	font-size: 11px;
}
.checkout .centralizando ul li#passo3 .conteudo table tr.desconto{
	color: #c9216f;
}
.checkout .centralizando ul li#passo3 .conteudo table tr.total{
	background-color: #115974;
	color: #fff;
}
.checkout .centralizando ul li#passo3 .finalizarcompra{
	background-color: #c9216f;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 7px;
	padding-bottom: 7px;
	float: right;
	margin-right: 30px;
}
.checkout .centralizando ul li#passo3 .finalizarcompra.top{
	margin-top: -22px;
	background-image: none!important
}
.checkout .centralizando ul li#passo3 .finalizarcompra.bottom{
	margin-top: 10px;
}
.checkout .centralizando ul li#passo3 .finalizarcompra a{
	display: block;
	color: #fff;
	font-size: 11px;
}

