/*
 * RESET *
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin:0;padding:0;border:0;outline:0;}
a {text-decoration:none;}
a:hover {text-decoration:none}
ol, ul {list-style:none;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
blockquote:before, blockquote:after,q:before, q:after {content:"";}
blockquote, q {quotes: "" "";}
hr.off, .marca-home, legend {display:none;}

@font-face {
    font-family: 'futura_hv_btheavy';
    src: url('http://200.143.178.146/~visps182/html/css/fontes/futurah-webfont.eot');
    src: url('http://200.143.178.146/~visps182/html/css/fontes/futurah-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://200.143.178.146/~visps182/html/css/fontes/futurah-webfont.woff') format('woff'),
         url('http://200.143.178.146/~visps182/html/css/fontes/futurah-webfont.ttf') format('truetype'),
         url('http://200.143.178.146/~visps182/html/css/fontes/futurah-webfont.svg#futura_hv_btheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	background-image: url('http://200.143.178.146/~visps182/html/images/bg.jpg');
	background-repeat: repeat-x;
}

h1{
	font-family: 'futura_hv_btheavy', Arial;
	font-size: 14px;
	color: #757779;
	text-transform: uppercase;
}

#container{
	width: 100%;
	height: 100%;	
}
#container .top{
	height: 48px;
	background-color: #929495;
}
#container #centro{
	width: 880px;
	margin: 0 auto;
	text-align: center;
}
#container #centro h1{
	margin-top: -35px;
}
#container #centro .frase{
	margin-top: 20px;
}
#container .newsletter{
	width: 871px;
	height: 262px;
	margin: 0 auto;
	background-image: url('http://vispstore.com/news.png');
	background-repeat: repeat-x;
	margin-top: 20px;
}
#container .newsletter input.email{
	border: 1px solid #a43165;
	width: 450px;
	line-height: 20px;
	position: relative;
	top: 110px;
	padding-left: 10px;
	margin: 0 auto;
	display: block;
}
#container .newsletter input.assinar{
	width: 67px;
	height: 22px;
	background-image: url('http://vispstore.com/enviar.png');
	background-repeat: no-repeat;
	background-color: transparent;
	text-indent: -999999px;
	border: 0;
	float: right;
	margin-top: 120px;
	margin-right: 200px;
	cursor: pointer;
}
#repostaFormContato{
	position: absolute;
	font-size: 12px;
	font-family: 'futura_hv_btheavy', Arial;
	margin-left: 204px;
	margin-top: 120px;
	color: #E7A2C1;
}